@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --color-primary: #59d5e0;
  --color-primary-hover: #f4538a;
  --color-secondary: #f4538a;
  --color-secondary-hover: #bc8f8f;
  --color-neutral: #282520;
  --neutral-n-800: #33302b;
  --color-tertiary: #d32f2f;
  --color-tertiary-Hover: #e57373;
  --color-body: #4d6581;
  --color-grey: #eee;
  --color-white: #fff;
  --color-black: #09114a;
  --fontSize: 16px;
  --transition: 0.5s;
  --font-poppins: "Poppins", sans-serif;
  --theme-gradient1: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-secondary) 51%,
    var(--color-primary) 100%
  );
  --theme-gradient2: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  --theme-gradient3: linear-gradient(
    48deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  --theme-gradient4: linear-gradient(
    to right,
    var(--color-primary) 25%,
    var(--color-secondary) 100%
  );
}

* {
  transition: all 0.3s ease;
}

body {
  color: var(--foreground);
  background: #fafbfb;
}

.poppins {
  /* font: "Poppins", sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.contact-info li:after {
  content: "|";
  margin: 0 8px;
}

.contact-info li:last-child:after {
  content: "";
  margin: 0;
}

.burger {
  position: relative;
  width: 24px;
  height: 18px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 17.4px;
  left: 5px;
}

.text-dark {
  color: #121212;
}

.primary-btn-shadow {
  @apply shadow-none;
}

.primary-btn-shadow:hover {
  box-shadow: 0 8px 10px 0 rgba(206, 145, 0, 0.2);
}

.referral-card-shadow {
  box-shadow: 0 4px 50px 0 hsla(0, 0%, 78%, 0.25);
}

.responsive-padding {
  padding-left: calc((100vw - 590px) * 0.5);
  padding-right: calc((100vw - 590px) * 0.5);
}

@media (max-width: 590px) {
  .responsive-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 767px) {
  .responsive-padding {
    padding-left: 0.5px;
    padding-right: 0.5px;
  }
}

.appointment-background {
  background-image: url("/images/services_appointment.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

.relative {
  position: relative;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: 7px;
  left: 13px;
  font-size: 12px;
  color: (#dee2e6);
  opacity: 0.65;
}

input {
  transition: padding-top 0.3s ease;
}

input::placeholder {
  color: transparent;
}

.message::placeholder {
  color: (var(--color-neutral));
}

textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
  top: 8px;
  left: 13px;
  font-size: 12px;
  color: (#dee2e6);
  opacity: 0.65;
}
.home-slider-gradient {
  background: linear-gradient(
    108deg,
    rgb(229, 229, 229) 2.32%,
    rgba(229, 229, 229, 0.7) 43.39%,
    rgba(255, 211, 106, 0) 100.5%
  );
}
.custom-dots {
  display: flex;
  gap: 8px;
  z-index: 10;
}

.custom-dots li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #a5a3a1;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.custom-dots li.slick-active {
  background-color: #59d5e0;
}

.custom-dots li button {
  width: 20px;
  height: 20px;
  color: transparent;
}

.client-type-card {
  border: none;
  box-shadow: none;
  transition: border 0.3s ease-in, box-shadow 0.3s ease-in;
}

.client-type-card:hover {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: border 0.1s ease-in, box-shadow 0.5s ease-in;
}

.client-type-card:hover {
  border: 1px solid #e3bf6b;
  box-shadow: 0 4px 8px 0 rgba(206, 145, 0, 0.2);
  transition: border 0.15s ease-in, box-shadow 1s ease-in;
}

.services-card {
  box-shadow: 0 4px 10px 0 hsla(0, 0%, 46%, 0.1);
}

.services-card:hover {
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 46%, 0.5);
}

.three-lines {
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  line-clamp: 3 !important;
  -webkit-line-clamp: 3 !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-transition {
  transition: all 0.3s ease;
}

.law-picture {
  background-image: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 59.38%
    ),
    url("/images/lawsuit.png");
  background-size: auto;
  background-repeat: repeat-y;
}

.expert-witness-bg {
  background-image: url("/images/Legal_Sections_bg.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.handleNewLine {
  white-space: pre-line;
}

.hand-shake-picture {
  background-image: linear-gradient(
      270deg,
      rgba(226, 190, 105, 0.09) 23.37%,
      rgb(250, 244, 230) 86.19%
    ),
    url("/images/shakeHand.png");
  background-position: right center;
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-color: rgb(250, 244, 230);
}

@media (max-width: 1024px) {
  .hand-shake-picture {
    background-image: none;
    background-color: rgb(250, 244, 230);
  }
}

.hover-mask {
  position: relative;
  overflow-y: hidden;
}

.hover-mask .mask-lnk {
  position: relative;
  top: 0;
  left: 0;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.hover-mask:hover .mask-lnk {
  position: absolute;
  opacity: 0;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transition: opacity 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    transform 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
  animation-delay: 150ms;
}

.hover-mask .mask-lnk-hover {
  position: absolute;
  opacity: 0;
  color: #fff;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transition: opacity 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    transform 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
}

.hover-mask:hover .mask-lnk-hover {
  position: relative;
  opacity: 1;
  color: #59d5e0;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  animation-delay: 150ms;
  transition: opacity 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    transform 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
}

.slick-slider div {
  transition: none;
}

.bradcrumb-bg {
  background: rgba(206, 145, 0, 0.7);
  background-blend-mode: multiply;
}

.bradcrumb-gradient {
  background-image: linear-gradient(
    270deg,
    hsla(42, 68%, 65%, 0.09) 23.37%,
    #faf4e6 86.19%
  );
}

.hover-mask {
  position: relative;
  overflow-y: hidden;
}

.hover-mask .mask-lnk {
  position: relative;
  top: 0;
  left: 0;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.hover-mask:hover .mask-lnk {
  position: absolute;
  opacity: 0;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transition: opacity 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    transform 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
  animation-delay: 150ms;
}

.hover-mask .mask-lnk-hover {
  position: absolute;
  opacity: 0;
  color: #fff;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transition: opacity 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    transform 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
}

.hover-mask:hover .mask-lnk-hover {
  position: relative;
  opacity: 1;
  color: #59d5e0;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  animation-delay: 150ms;
  transition: opacity 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
    transform 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
}

.slick-slider div {
  transition: none;
}

.bradcrumb-bg {
  background: rgba(206, 145, 0, 0.7);
  background-blend-mode: multiply;
}

.bradcrumb-gradient {
  background-image: linear-gradient(
    270deg,
    hsla(42, 68%, 65%, 0.09) 23.37%,
    #faf4e6 86.19%
  );
}

.fade-up {
  transform: translate3d(0, 100px, 0);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.fade-left {
  transform: translate3d(-100px, 0, 0);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.fade-right {
  transform: translate3d(100px, 0, 0);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.in-view {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.animate-1 {
  animation: slideInUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.5s;
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/* - Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 11111;
}
.preloader .spinner {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
}
.preloader .spinner .double-bounce1,
.preloader .spinner .double-bounce2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.preloader .spinner .double-bounce2 {
  background: rgba(255, 255, 255, 0.5);
  height: 0;
  -webkit-animation: loading 2s infinite ease-in-out;
  animation: loading 2s infinite ease-in-out;
}

.lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 0;
  pointer-events: none;
  z-index: 1111;
}
.lines.no-lines .line-col:before {
  opacity: 0;
}

.lines .line-col {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 100vh;
}

.lines .line-col:first-child:before {
  background: transparent;
}

.lines .line-col:first-child:after {
  left: auto;
  right: 0;
  width: 1000%;
}

.lines .line-col:first-child .line {
  display: none;
}

.lines .line-col:last-child:after {
  left: 0;
  right: auto;
  width: 1000%;
}

.lines .line-col:nth-child(1):before {
  -o-transition-delay: 2.9s;
  -webkit-transition-delay: 2.9s;
  transition-delay: 2.9s;
}

.lines .line-col:nth-child(1):after {
  top: 0;
  bottom: auto;
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.lines .line-col:nth-child(2):before {
  -o-transition-delay: 2.7s;
  -webkit-transition-delay: 2.7s;
  transition-delay: 2.7s;
}

.lines .line-col:nth-child(2):after {
  top: auto;
  bottom: 0;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.lines .line-col:nth-child(3):before {
  -o-transition-delay: 2.2s;
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.lines .line-col:nth-child(3):after {
  top: 0;
  bottom: auto;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.lines .line-col:nth-child(4):before {
  -o-transition-delay: 2.5s;
  -webkit-transition-delay: 2.5s;
  transition-delay: 2.5s;
}

.lines .line-col:nth-child(4):after {
  top: auto;
  bottom: 0;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.lines .line-col:nth-child(5):before {
  -o-transition-delay: 3s;
  -webkit-transition-delay: 3s;
  transition-delay: 3s;
}

.lines .line-col:nth-child(5):after {
  top: 0;
  bottom: auto;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.lines .line-col:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 0%;
  background: rgba(255, 255, 255, 0.07);
  transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -moz-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -webkit-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -o-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}

.lines .line-col:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  z-index: 12;
  transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -moz-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -webkit-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -o-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}

.lines.finish .line-col:before {
  height: 100%;
}

.lines.finish .line-col:after {
  height: 0%;
}

.lines.ready {
  z-index: 11;
}

.wrapper {
  position: relative;
}

.breadcrumbs {
  margin: 0;
}

.lines-off .lines .line-col:before {
  display: none;
}

.lines-on .lines .line-col:before {
  display: block;
}

@media (max-width: 1199px) {
  .lines .line-col {
    width: 33.333%;
  }

  .lines .line-col:nth-child(4),
  .lines .line-col:nth-child(5) {
    display: none;
  }
}
@media (max-width: 720px) {
  .lines .line-col {
    width: 50%;
  }

  .lines .line-col:nth-child(3),
  .lines .line-col:nth-child(4),
  .lines .line-col:nth-child(5) {
    display: none;
  }
}

@keyframes loading {
  0% {
    height: 0;
    top: 0;
    bottom: auto;
  }
  50% {
    height: 100%;
    top: 0;
    bottom: auto;
  }
  51% {
    height: 100%;
    top: 0;
    bottom: auto;
  }
  52% {
    height: 100%;
    top: auto;
    bottom: 0;
  }
  100% {
    height: 0;
    top: auto;
    bottom: 0;
  }
}
