@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ce9100;
  --color-primary-hover: #6b8e23;
  --color-secondary: #556b2f;
  --color-secondary-hover: #bc8f8f;
  --color-neutral: #282520;
  --neutral-n-800: #33302b;
  --color-tertiary: #d32f2f;
  --color-tertiary-Hover: #e57373;
  --color-body: #4d6581;
  --color-grey: #eee;
  --color-white: #fff;
  --color-black: #09114a;
  --fontSize: 16px;
  --transition: 0.5s;
  --font-poppins: "Poppins", sans-serif;
  --theme-gradient1: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-secondary) 51%,
    var(--color-primary) 100%
  );
  --theme-gradient2: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  --theme-gradient3: linear-gradient(
    48deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  --theme-gradient4: linear-gradient(
    to right,
    var(--color-primary) 25%,
    var(--color-secondary) 100%
  );
}

body {
  color: var(--foreground);
  background: #fafbfb;
}

.poppins {
  font: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.contact-info li:after {
  content: "|";
  margin: 0 8px;
}

.contact-info li:last-child:after {
  content: "";
  margin: 0;
}

.burger {
  position: relative;
  width: 24px;  
  height: 18px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px; 
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 17.4px; 
  left: 5px;
}

.text-dark {
  color: #121212;
}

.primary-btn-shadow {
  @apply shadow-none;
}

.primary-btn-shadow:hover {
  box-shadow: 0 8px 10px 0 rgba(206, 145, 0, 0.2);
}

.referral-card-shadow {
  box-shadow: 0 4px 50px 0 hsla(0, 0%, 78%, 0.25);
}



.responsive-padding {
  padding-left: calc((100vw - 590px) * 0.5);
  padding-right: calc((100vw - 590px) * 0.5);
}

@media (max-width: 590px) {
  .responsive-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 767px) {
  .responsive-padding {
    padding-left: 0.5px;
    padding-right: 0.5px;
  }
}