@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --color-primary: #ce9100;
  --color-primary-hover: #6b8e23;
  --color-secondary: #556b2f;
  --color-secondary-hover: #bc8f8f;
  --color-neutral: #282520;
  --neutral-n-800: #33302b;
  --color-tertiary: #d32f2f;
  --color-tertiary-Hover: #e57373;
  --color-body: #4d6581;
  --color-grey: #eee;
  --color-white: #fff;
  --color-black: #09114a;
  --fontSize: 16px;
  --transition: 0.5s;
  --font-poppins: "Poppins", sans-serif;
  --theme-gradient1: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-secondary) 51%,
    var(--color-primary) 100%
  );
  --theme-gradient2: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  --theme-gradient3: linear-gradient(
    48deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  --theme-gradient4: linear-gradient(
    to right,
    var(--color-primary) 25%,
    var(--color-secondary) 100%
  );
}
*{
  transition: all 0.3s ease;
}

body {
  color: var(--foreground);
  background: #fafbfb;
}

.poppins {
  /* font: "Poppins", sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.contact-info li:after {
  content: "|";
  margin: 0 8px;
}

.contact-info li:last-child:after {
  content: "";
  margin: 0;
}

.burger {
  position: relative;
  width: 24px;
  height: 18px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 17.4px;
  left: 5px;
}

.text-dark {
  color: #121212;
}

.primary-btn-shadow {
  @apply shadow-none;
}

.primary-btn-shadow:hover {
  box-shadow: 0 8px 10px 0 rgba(206, 145, 0, 0.2);
}

.referral-card-shadow {
  box-shadow: 0 4px 50px 0 hsla(0, 0%, 78%, 0.25);
}

.responsive-padding {
  padding-left: calc((100vw - 590px) * 0.5);
  padding-right: calc((100vw - 590px) * 0.5);
}

@media (max-width: 590px) {
  .responsive-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 767px) {
  .responsive-padding {
    padding-left: 0.5px;
    padding-right: 0.5px;
  }
}

.appointment-background {
  background-image: url("/images/services_appointment.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

.relative {
  position: relative;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: 7px;
  left: 13px;
  font-size: 12px;
  color: (#dee2e6);
  opacity: 0.65;
}

input {
  transition: padding-top 0.3s ease;
}

input::placeholder {
  color: transparent;
}

.message::placeholder {
  color: (var(--color-neutral));
}

textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
  top: 8px;
  left: 13px;
  font-size: 12px;
  color: (#dee2e6);
  opacity: 0.65;
}
.home-slider-gradient {
  background: linear-gradient(
    108deg,
    rgb(229, 229, 229) 2.32%,
    rgba(229, 229, 229, 0.7) 43.39%,
    rgba(255, 211, 106, 0) 100.5%
  );
}

.custom-dots {
  display: flex !important;
  gap: 8px;
  justify-content: flex-start;
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin-right: auto !important;
  z-index: 10;
}

.custom-dots li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #a5a3a1;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.custom-dots li.slick-active {
  background-color: #ce9100;
}

.custom-dots li button {
  width: 20px;
  height: 20px;
  color: transparent;
}

.client-type-card {
  border: none;
  box-shadow: none;
  transition: border 0.3s ease-in, box-shadow 0.3s ease-in;
}

.client-type-card:hover {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: border 0.1s ease-in, box-shadow 0.5s ease-in;
}

.client-type-card:hover {
  border: 1px solid #e3bf6b;
  box-shadow: 0 4px 8px 0 rgba(206, 145, 0, 0.2);
  transition: border 0.15s ease-in, box-shadow 1s ease-in;
}

.services-card {
  box-shadow: 0 4px 10px 0 hsla(0, 0%, 46%, 0.1);
}

.services-card:hover {
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 46%, 0.5);
}

.three-lines {
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  line-clamp: 3 !important;
  -webkit-line-clamp: 3 !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-transition {
  transition: all 0.3s ease;
}
